@import "tailwindcss";

@theme {
  --animate-glow: glow 1.5s ease-in-out infinite;
  --animate-typing: typing 2s steps(13) infinite alternate, blink 0.7s infinite;
  --animate-dimlight: dimlight 5s 2;
  --animate-scale: scale 4s ease;

  @keyframes scale {
    0% {
      opacity: 0;
      transform: scale(0);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }

  @keyframes dimlight {
    0%,
    18%,
    20%,
    50.1%,
    60%,
    65.1%,
    80%,
    90.1%,
    92% {
      color: #0e3742;
      text-shadow: none;
    }
    18.1%,
    20.1%,
    30%,
    50%,
    60.1%,
    65%,
    80.1%,
    90%,
    92.1%,
    100% {
      color: #fff;
      text-shadow: 0 0 10px #03bcf4, 0 0 20px #03bcf4;
    }
  }

  @keyframes typing {
    0% {
      width: calc(0ch + 4px);
      visibility: hidden;
    }
    100% {
      width: calc(13ch + 4px);
    }
  }

  @keyframes blink {
    50% {
      border-color: transparent;
    }
    100% {
      border-color: #fff;
    }
  }

  @keyframes glow {
    0%,
    100% {
      box-shadow: 0 0 10px #ff00ff;
    }
    50% {
      box-shadow: 0 0 20px #ff00ff;
    }
  }
}

.box-reflect {
  -webkit-box-reflect: below -10px linear-gradient(transparent, #0004);
}

.glowish {
  text-shadow: 0 0 10px #03bcf4, 0 0 20px #03bcf4;
}

.bg-amaro {
  background-image: url('./amaro.jpg'); 
}
